doctype html
html
	head
		meta(charset="utf-8")
		title Musicbox
		style(type="text/css")
				
	body(style="background-image: url(/images/815.jpg); background-size: cover;")
		script(src="https://unpkg.com/react@15.6.1/dist/react.min.js")
		script(src="https://unpkg.com/react-dom@15.6.1/dist/react-dom.min.js")
		script(src="/client.js")

		div#app
		//- div Musicbox
